<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="C440C7C9-44C7-472E-B3C8-7E41D98E7137" Name="Seller-Sense" Language="1033" Version="1.0.3.0" Manufacturer="CC-India" UpgradeCode="A6407391-4A28-4AEA-9771-C2B23FD8A2A1">
    <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
    <!--<Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />-->
    <MediaTemplate EmbedCab="yes"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"></Property>
    <!--<UIRef Id="WIXUI_INSTALLDIR"/>-->
    <Icon Id="favicon.ico" SourceFile="favicon.ico"/>
    <Property Id="ARPPRODUCTION" Value="favicon.ico"></Property>
    <!--<Feature Id="ProductFeature" Title="Seller-Sense" Level="1">
      <ComponentGroupRef Id="directory"/>
    </Feature>-->

    
   <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MY_INSTALL_LOCATION" Name="Seller-Sense" />
      </Directory>
    </Directory>
    
     <Feature Id="ProductFeature" Title="My product feature" Level="1">
      <ComponentGroupRef Id="Fake"/>
   </Feature>

    <!--<ComponentGroup Directory="MY_INSTALL_LOCATION" Id="ProductComponents">
      <Component Id="cmpSetAppPoolManagedRuntimeVersion_ps1" Guid="*">
        <File Id="SetAppPoolManagedRuntimeVersion_ps1" KeyPath="yes" Source="SetAppPoolManagedRuntimeVersion.ps1" />
      </Component>
    </ComponentGroup>-->

  </Product>
 
  

</Wix>